<a href="https://colab.research.google.com/github/VanessaTrajano/ForPython/blob/main/ExerciciosFor3Hashtag.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [ ]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

media = 0

for i, item in enumerate(vendas):
  print(f"O vendedor {vendedores[i]} vendeu {item} reais em produtos.")
  media += item

print(f"A média de vendas foi {media/len(vendas)}")

O vendedor Fulano vendeu 1000 reais em produtos.
O vendedor Beltrano vendeu 1500 reais em produtos.
O vendedor Ciclano vendeu 1200 reais em produtos.
O vendedor Lira vendeu 1300 reais em produtos.
A média de vendas foi 1250.0

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [ ]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]

maior7 = 0

for i, item in enumerate(notas):
  media = sum(item) / len(item)
  print(f"O aluno {alunos[i]} teve a média de {media} pontos")
  if media > 7:
    maior7 += 1

print(f"{maior7} alunos tiveram a nota maior que 7 pontos.")

O aluno José teve a média de 8.75 pontos
O aluno Joana teve a média de 6.5 pontos
O aluno Maria teve a média de 10.0 pontos
O aluno Carla teve a média de 6.75 pontos
O aluno Mauricio teve a média de 6.25 pontos
O aluno Andre teve a média de 7.25 pontos
O aluno Tiago teve a média de 7.5 pontos
O aluno Enzo teve a média de 6.5 pontos
O aluno Amanda teve a média de 7.5 pontos
O aluno Alessandra teve a média de 4.25 pontos
5 alunos tiveram a nota maior que 7 pontos.

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [ ]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]

mediaSal = sum(salarios) / len(salarios)
quant = 0
for i, item in enumerate(idades):
  if item > 25:
    if salarios[i] < mediaSal:
      quant += 1

print(f"São {quant} funcionários que possuem mais de 25 anos e um salário inferior a média.")

São 12 funcionários que possuem mais de 25 anos e um salário inferior a média.

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [ ]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]

mediaNacional = sum(temperaturas) / len(temperaturas)

for i, item in enumerate(temperaturas):
  if item > mediaNacional:
    print(f"Em {meses[i]} a temperatura foi maior do que a média nacional.")

Em Janeiro a temperatura foi maior do que a média nacional.
Em Fevereiro a temperatura foi maior do que a média nacional.
Em Março a temperatura foi maior do que a média nacional.
Em Abril a temperatura foi maior do que a média nacional.
Em Junho a temperatura foi maior do que a média nacional.
Em Novembro a temperatura foi maior do que a média nacional.
Em Dezembro a temperatura foi maior do que a média nacional.

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo;

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================

Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0

Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00

Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [ ]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []

colaboradores = 0
totalAbonos = 0
valMinimo = 0
maiorVal = 0

for item in lista_salarios:
  if 20/100 * item < 100:
    abonos.append(100)
    valMinimo += 1
    totalAbonos += 100
  else:
    abonos.append(20/100 * item)
    totalAbonos += 20/100 * item
    if 20/100 * item > maiorVal:
      maiorVal = 20/100 * item
  colaboradores += 1

for i in range(len(abonos)):
  print("R${:.2f} --- R${:.2f}".format(lista_salarios[i], abonos[i]))


print(f"Foram processados {colaboradores} colaboradores")
print("Total gasto com abonos: R${:.2f}".format(totalAbonos))
print(f"Valor mínimo pago a {valMinimo} colaboradores")
print("Maior valor de abono pago: R${:.2f}".format(maiorVal))

R$1000.00 --- R$200.00
R$300.00 --- R$100.00
R$500.00 --- R$100.00
R$200.00 --- R$100.00
R$1500.00 --- R$300.00
R$3000.00 --- R$600.00
R$3400.00 --- R$680.00
R$5000.00 --- R$1000.00
R$7000.00 --- R$1400.00
R$2000.00 --- R$400.00
R$600.00 --- R$120.00
R$800.00 --- R$160.00
R$250.00 --- R$100.00
R$1500.00 --- R$300.00
R$20000.00 --- R$4000.00
Foram processados 15 colaboradores
Total gasto com abonos: R$9560.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$4000.00

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [ ]:
print('Comparativo de Consumo de Combustível')
veiculos = ['fusca',' gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]

for i in range(len(veiculos)):
  print(f"Veículo {i + 1}")
  print(f"Nome: {veiculos[i]}")
  print(f"Km por litro: {autonomias[i]}")

print("\n")

#a. O modelo do carro mais econômico;
#b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará,
# considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima
# possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.

print('Relatório Final')

maisEcon = 0
econ = 0

for i, item in enumerate(autonomias):
  if item < maisEcon:
    maisEcon = item
    econ = i
  print("{} - {}    -   {}  -  {:.2f} litros  -  R${:.2f}".format(i+1, veiculos[i], item, 1000/item, 1000/item * 2.25))

print("\n")
print(f"O menor consumo é do {veiculos[econ]}")

Comparativo de Consumo de Combustível
Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome:  gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: vectra
Km por litro: 9
Veículo 5
Nome: peugeot
Km por litro: 14.5


Relatório Final
1 - fusca    -   7  -  142.86 litros  -  R$321.43
2 -  gol    -   10  -  100.00 litros  -  R$225.00
3 - uno    -   12.5  -  80.00 litros  -  R$180.00
4 - vectra    -   9  -  111.11 litros  -  R$250.00
5 - peugeot    -   14.5  -  68.97 litros  -  R$155.17


O menor consumo é do fusca

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça da forma que parecer mais intuitiva para você.

In [ ]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]

inter1 = []
inter2 = []
inter3 = []
inter4 = []
inter5 = []
inter6 = []
inter7 = []
inter8 = []
inter9 = []

for item in vendas:
  comissao = 200 + 9/100 * item
  if comissao < 299:
    inter1.append(comissao)
  elif comissao < 399:
    inter2.append(comissao)
  elif comissao < 499:
    inter3.append(comissao)
  elif comissao < 599:
    inter4.append(comissao)
  elif comissao < 699:
    inter5.append(comissao)
  elif comissao < 799:
    inter6.append(comissao)
  elif comissao < 899:
    inter7.append(comissao)
  elif comissao < 999:
    inter8.append(comissao)
  else:
    inter9.append(comissao)

print(inter1)
print(inter2)
print(inter3)
print(inter4)
print(inter5)
print(inter6)
print(inter7)
print(inter8)
print(inter9)

[290.0]
[380.0]
[470.0]
[560.0, 524.0]
[650.0, 695.0, 605.0]
[740.0]
[]
[]
[]